.DS_Store
*~
node_modules
lib
dist
webpub-rnow


#css~sass ignoring
dist*.css.map
src/styles/.sass-cache


viewer/*
!viewer/index.html



examples/static/viewer/*

backstop_data/bitmaps_reference
backstop_data/bitmaps_test
backstop_data/html_report
backstop_data/ci_report
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
