files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/07_nypl_provsion.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
           file=/var/tmp/provisioned
      if [[ -a $file ]]; then
        echo "installed"
      else
        curl https://nypl-provisioning.s3.amazonaws.com/provision-yumbased-linux.sh | bash
      fi
    encoding: plain
