files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/07_falcon_crowdstrike.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /home/ec2-user
      yum -q list installed falcon-sensor &> /dev/null && isInstalled="yes" || isInstalled="no"
      if [ $isInstalled == "yes" ]; then
        sudo service falcon-sensor stop
        sudo yum remove falcon-sensor
      fi
      wget https://s3.amazonaws.com/nypl-rpms/falcon-sensor-latest.amzn1.x86_64.rpm
      yum -y install /home/ec2-user/falcon-sensor-latest.amzn1.x86_64.rpm
      /opt/CrowdStrike/falconctl -s --cid=2F323D2F1EF049D0BCE9A15DDC55D946-19
      sudo service falcon-sensor start
    encoding: plain